body {
  background-color: lime;
  font-family: "Algerian";
  background-image: url(index.jpg);
  background-repeat: repeat;
}
table {
  background-color: black;
  border-collapse:collapse;
}
th {
  background-color: black;
  color: white;
  border: 4px solid orange;
}
td {
  background-color: black;
  border: 4px solid orange;
}
h1 {
  font-family: "Verdana";
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  color: orange;
  background-color: lime;
  border: 4px solid orange;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
}
p {
  font-size: 16px;
  background-color: lime
}
h2 {
  background-color: lime
}
h3 {
  background-color: lime;
  max-width: 300px;
  border: 4px solid orange;
  border-radius: 20px 0px 20px 0px;
  font-family: "Verdana";
}
li {
  background-color: lime;
  border-collapse:collapse;
  border: 4px solid orange;
  max-width: 400px
}
a {
  color: white
}
a:link {
  background-color: black
}
a:visited {
  background-color: black
}
a:active {
  background-color: red
}
a:hover {
  background-color: red
}
p.antwoord {
  color: lime
}
p.antwoord:hover {
  color: black
}
