* {
  background-color: #6F0000;
}

header {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 20px;
  color: #DE0000;
}
/*
.color-primary-1 { color: #DE0000 }
.color-primary-2 { color: #BA0000 }
.color-primary-3 { color: #6F0000 }
.color-primary-0 { color: #970000 }
.color-primary-4 { color: #3C0000 }
*/
nav{
  display: inline-block;
  border: 3px solid black;
  width: 90%;
  left: 5%;
  list-style-type: none;
  background-color: : #BA0000;
  padding: 0 10px;
  position: absolute;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.links {
  background-color: #BA0000;
}

li.links {
  padding: 5px;
  padding-left: 15px;
  display: inline-block;
}

ul.links {
  text-align: center;
}

p.badgelist {
  text-align: center;
}
table {
  border-collapse: collapse;
  text-align: center;
}

table, th, td {
  border: 4px solid black;
  background-color: #BA0000;
}

td:hover, th:hover {
  background-color: #DE0000;
}

a, h2 {
  background-color: inherit;
}
article {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 4px solid black;
  background-color: #BA0000;
  text-align: center;
}

a {
  color: black;
}

ul li a:hover {
 background-color: #DE0000;
 transition: 0.3s;
 padding: 20px 10px;
}

a.links {
  text-decoration: none;
}
